html,
body,
#app,
.el-container{
	padding: 0px;
	margin: 0px;
	height: 100%;
}
.el-header{
    padding: 0px !important;
}
.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;

  }
  
  .el-aside {
    background-color: rgb(84, 92, 100);
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 20px;
    padding: 10px !important;
    padding-left: 5px !important;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
    height: 100% !important;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .el-menu{
  	border-right-width: 0px;
  }

 .el-row {
    margin-bottom: 20px;
  }
.el-row:last-child {
     margin-bottom: 0;
 }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: rgb(84, 92, 100);
  }
  .bg-purple {
    background: rgb(84, 92, 100);
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 60px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .btn-group{
  	height: 40px;
  }
/*一下为左侧菜单样式*/
.el-tree-node__label{
    line-height: 26px;
    color: #FFFFFF;

}
.el-tree-node__content{
    height: 50px;
    text-align: center;
    background-color: rgb(84, 92, 100);
}
.el-tree-node:focus > .el-tree-node__content {
    background-color: #303133;
}
.el-tree-node__content:hover{
    background-color: #303133;
}
.el-tree__empty-block {
    background-color: rgb(84, 92, 100);
}